<div class="row">
  <div class="text-center">
    <h1 class="main-title">Look up your Legislators</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-4 text-center">
    <form class="" action="/home/show">
      <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1">Zip Code</span>
        <input type="text" name="zip_code" class="form-control" placeholder="e.g. 65770" aria-describedby="sizing-addon1">
      </div>
    </form>
  </div>
</div>
