@import 'colors';

* {
  margin: 0;
  padding: 0;
  font: $font-stack;
  color: $primary-black;
}

html, body {
  height:100%;
}

.main-body {
  min-height:100%;
  background-color: $primary-white;
}
